body {
    width: 100%;
}
.wrapper {
    max-height: 100%;
    overflow: hidden;
}





/* forest */
.main__forest-bg {
    overflow: hidden;
    max-width: 100%;
    
    position: relative;
}
[class*="forest-bg__"] img {
    width: 100%;
}
.forest-bg {
}
.forest-bg__1 {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}
.forest-bg__2 {
    width: 104%;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 1;
    animation-name: back-2;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.forest-bg__3 {
    width: 104%;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    animation-name: back-3;
    animation-duration: 6s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.forest-bg__4 {
    width: 108%;
    position: relative;
    top: -115px;
    left: -30;
    z-index: 3;
    transform: scale(1);
    animation-name: back-4;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
.forest-bg__5 {
    width: 108%;
    position: relative;
    top: -130px;
    left: -20px;
    z-index: 4;
    transform: scale(1.01);
    animation-name: back-5;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes back-2 {
    0% {position: absolute;left: 0px;}
    100% {position: absolute;left: 8px;}
}
@keyframes back-3 {
    0% {position: absolute;left: -4px;}
    100% {position: absolute;left: 0px;}
}
@keyframes back-4 {
    0% {position: absolute;left: -30px;}
    100% {position: absolute;left: -2px;}
}
@keyframes back-5 {
    0% {position: absolute;left: -50px; }
    100% {position: absolute;left: 0px; }
}

h1 {
text-align: center;
font-size: 400px;
color: #fdadad54;
}
/* car-layout */
.car-layout {
    /* visibility: hidden; */
    position: relative;
    top: -320px;
    z-index: 7;
}
/* road */
@keyframes moving-stripes {
    0%{
        transform: rotatex(45deg) translateX(-800px);
    }
    100% {
        transform: rotatex(45deg) translateX(0px);
    }
}
@keyframes spin-tires {
    0% {
        rotate: 0;
    }
    100% {
        rotate: -360deg;
    }
}
.main__road {
    position: relative;
    top: -200px;
    width: 100%;
    height: 230px;
}
.road::before, .road::after {
    content: "";
    display: block;
    height: 12px;
    background-color: darkgoldenrod;
}
.road::after {
    position: relative;
    top: -100px;
}
.road {
    z-index: 2;
    background: rgb(147,147,147);
background: linear-gradient(0deg, rgba(147,147,147,1) 0%, rgba(69,69,69,1) 59%);
}
.road__columns {
    overflow: hidden;
    position: relative;
    z-index: 4;
    top: -70px;
    display: flex;
    /* justify-content: space-evenly; */
    column-gap: 180px;
    /* perspective:200px; */
    
}
.road__column::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: transparent;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}
.road__column {
    flex: 0 0 20px;
    height: 80px;
    background: rgb(188,188,188);
    background: linear-gradient(90deg, rgba(188,188,188,1) 52%, rgba(69,69,69,1) 100%);
    animation-name: moving-stripes;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.road__stripes {
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    perspective:300px;
    column-gap: 200px;
}
.road__stripe {
    height: 20px;
    flex: 0 0 200px;
    background-color: yellow;
    transform: rotatex(45deg);
    animation-name: moving-stripes;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

/* car */
.car::before {
    content: "";
    display: block;
    width: 600px;
    height: 150px;
    border-radius: 37px 324px 293px 36px / 28px 21px 130px 43px;
    border-radius: 37px 307px 400px 0px / 28px 0px 150px 52px;
    background-color: #fbff0054;
    position: absolute;
    z-index: 6;
    top: 223px;
    left: -438px;
    transform: rotate(-3deg);
}
.car::after {
    content: "";
    display: block;
    position: relative;
    top: 360px;
    left: 54px;
    height: 45px;
    width: 1100px;
    background-color: #23232399;
    border-radius: 89px 89px /89px 30px;
}
.car {
    /* visibility: hidden; */
    width: 100%;
    height: 900px;
    position: relative;
    z-index: 3;
}
.main__block {
    width: 1200px;
    max-height: 500px;
    /* overflow: hidden; */
    margin: 0 auto;
}


.car__body-top {
    position: relative;
}
.engine-compartment img {
    width: 160%;
}
.engine-compartment {
    position: absolute;
    top: 70px;
    left: 50px;
}
.hood img {
    width: 127%;
}
.hood:hover{
   
}
.hood {
    position: absolute;
    top: 91px;
    left: 31px;
    z-index: 2;
}
.roof img {
    width: 138%;
}
.roof {
    position: absolute;
    top: 35px;
    left: 373px;
}
.door--front img {
    width: 140%;
}
.door--front {
    position: absolute;
    top: 33px;
    left: 394px;
    z-ingex: 2;
}
.door--rear img {
    width: 141%;
}
.door--rear {
    position: absolute;
    top: 61px;
    left: 669px;
    z-index: 2;
}

.backtrunk-lid img {
    width: 141%;
}
.backtrunk-lid {
    position: absolute;
    top: 133px;
    left: 915px;
}

.backtrunk img {
    width: 138%;
}
.backtrunk {
    position: absolute;
    top: 122px;
    left: 845px;
    z-index: 1;
}

.frame img {
    width: 140%;
}
.frame {
    position: absolute;
    top: 205px;
    left: 350px;
    z-index: 0;
}

.car__suspension {
    position: relative;
}
.car__weel {
    animation-name: spin-tires;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* transform-origin: 77.8% 49.5% ; */
    transform-origin: 70% 49% ;
}

.car__brake img {
    width: 155%;
}
.car__brake {
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}
.car__brake--front {
    top: 264px;
    left: 212px;
}
.car__brake--rear {
    top: 278px;
    transform: rotate(-120deg);
    left: 942px;
}
.car__wheel--front img {
    width: 140%;
}
.car__wheel--front {
    border-radius: 50%;
    position: absolute;
    top: 223px;
    left: 170px;
    z-index: 3;
}
.car__wheel--rear img {
    width: 140%;
}
.car__wheel--rear {
    border-radius: 50%;
    position: absolute;
    top: 223px;
    left: 875px;
    z-index: 3;
}