@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Black.woff2") format("woff2", url("../fonts/lato/Lato-Black.woff"));
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Bold.woff2") format("woff2", url("../fonts/lato/Lato-Bold.woff"));
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Lato";
    font-size: 16px;
    background-color: rgb(96, 78, 78);
}
[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrraper {
    overflow: hidden;
}
.wrraper > main {
    flex-grow: 1;
}
/* HEADER */
/* PAGE */
/* grid container */
.grid {
    display: grid;
    background: #000;
    margin-bottom: 100px;

    gap: 20px;
    /* grid-template-columns: 100px 200px 300px; */
    /*grid-template-rows: 100px 200px 300px; */
    /* grid-template: 100px 200px 300px / 100px 200px 300px; */
    /* відносні 3 колонки */
    grid-template-columns: repeat(3, 134px);
    /* автомтична ннеявна сітка розміщення елементів (зайві об'єкти починають новий стовпець)*/
    grid-auto-flow: column;
    /* автомтична ннеявна сітка розміщення елементів (зайві об'єкти заповнюють пустоти)*/
    grid-auto-flow: dense;
    /* автомтична ннеявна сітка розміщення елементів (зайві об'єкти починають новий рядок) */
    grid-auto-flow: row;
    /* автоматична висота рядків неявної сітки */
    grid-auto-rows: 100px;
    /* автоматична ширина стовпців неявної сітки*/
    grid-auto-columns: 100px;
    /* ВИРІВНЮВАННЯ сітки можливе лише при умові вільного простору stretch ----------- space-around space-between spase-evently */
    justify-content: center;
    align-content: center;
    /* ВИРІВНЮВАННЯ контенту  всередині сітки */
    /* вздовж горизонтальної осі  start center end*/
    justify-items: stretch;
    /* вздовж вертикальної осі start center end */
    align-items: center;
}
/* grid element content in */
.grid__item {
    padding: 12px 16px;
    background-color: #4f4f4f;
}
.grid__item:nth-child(2) {
    grid-area: block-area-1;
    grid-column: 3/4;
    grid-column-start: 3;
    grid-column-end: 4;
    
}
.page__courses {
    padding: 0 0 180px 0;
}
.courses { 
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}
.courses__card {
}
.card {
    display: grid;
    border-radius: 4px;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.card__pic img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card__pic {
    background-color: yellow;
    padding-bottom: 100%;
    position: relative;
}
.card__link {
}
.card__content {
    background-color: #f4f4f4;
    padding: 30px;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 23px 1fr 1fr;
    gap:20px;
}
.card__badge-of-dept {
    color: #f4f4f4;
    justify-self: start;
    padding: 0 8px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.6;
}
.card__badge-of-dept--green {
    background-color: #03CEA4;
}
.card__badge-of-dept--blue {
    background-color: #5A87FC;
}
.card__badge-of-dept--orange {
    background-color:#F89828;
}
.card__badge-of-dept--pink {
    background-color:#F52F6E;
}
.card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1E212C;
}
.card__info {
    color: #787A80;
}
.card__price {
    color: #FF4242;
    font-weight: bold;
}
.card__price::after {
    content: " | ";
    color: #787A80;
}

/* FOOTER */
