.button {
    display: inline-block;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
    padding: 17.25px 40px;
    font-weight: 700;
    line-height: 1.25;

    /* text-align: center; */
    letter-spacing: 0.5px;
    color: #ffffff;
}
.button--border {
    background: transparent;
    border-left: 1px solid #ff3f3a;
    border-right: 1px solid #f75e05;
    border-radius: 4px;
    padding: 16.25px 39px;
    color: #f75e05;
    position: relative;
}

.button--border::before {
    content: "";
    display: block;
    /* background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%); */
    box-shadow: inset 0px 1px #ff3f3a;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
.button--border::after {
    /* content: "";
    width: 1px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f75e05; */
}
.button--border span::before {
}
.button--border span::after {
}
