@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
    /* default styles */
    font-family: "Lato";
    color: #424551;
}
.wrraper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrraper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */
.header {
    padding: 20px 0;
    color:#424551;
    font-weight: 700;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 60px ;
}
.header__logo {
}
.header__menu {
    flex-grow: 1;
}
.menu {
    
}
.menu__list {
    display: flex;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.menu__item {
}
.header__link {
}
.header__actions {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 36px;
    
}
.header__button {
    flex-shrink: 0;
}
.header__log-and-reg {
    flex-shrink: 0;
    display: inline-block;
    padding: 10px 0px 10px 28px;
    line-height: 1.5;
}
.header__log-and-reg::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/header/Profile.png") 0 0 / auto no-repeat;
    position: relative;
    top: 6px;
    left: -20px;
}

/* PAGE */
/* MAIN-BLOCK */
.page {
}
.page__block {
}
.page__container {
}
/* ================== */

.main {
}
.main__contents {
}
.main__content {
}
.content-main {
}
.content-main__play-button {
}
.content-main__caption {
}
.content-main__actions {
}
.actions-main-content {
}
.actions-main-content__button {
}
.button--border {
}
/* ================== */

.main__image {
}
/* ================== */

.main__achievement {
}
.achievement-main {
}
.achievement-main__item {
}
.achievement-main__value {
}
.achievement-main__text {
}
.page__decor-block {
}
.decor-block {
}
.decor-block__item {
}

/* FOTER */
.footer {
}
.footer__container {
}
/* BODY-BUTTON-BACK-TO-HOME */
.backtohome {
}