@import "_nullstyle.scss";

body {
	opacity: 0;
}
.loaded body {
	opacity: 1;
	transition: all 2s;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
[class*=_container] {
    max-width: 75rem;
    padding-left:1rem ; 
    padding-right:1rem ; 
}
.header {
    background-color: #f70;
    padding: 3rem 0rem;
		// .header__container

		&__container {
		}
}
.block {
}
.block-two {
}
.page {
    flex-grow: 1;
		// .page__section-one

		&__section-one {
		}

		// .page__container

		&__container {
		}

		// .page__section-two

		&__section-two {
		}

		// .page__section-three

		&__section-three {
		}

		// .page__section-four
		&__section-four {
			color: red;
		}
		
		&__pagesection-five{
			
		}
}
.mouse{
	background-color: #f70;
	outline: 4px solid green;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
}
.mouse__ball{
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #d3d3d3;
}

.footer {

		// .footer__container

		&__container {
		}
}
