/* IMPORT */
@import "nullstyle.css";
@import "fonts.css";
/* SPECIAL */
body {
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
.wrraper {
    height: 100%;
    padding-top: 75px;
    position: relative;
}
[class*="__container"] {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
/* HEADER */
.header {
    background: rgb(36, 0, 0);
    background: linear-gradient(135deg, rgba(36, 0, 0, 1) 0%, rgba(93, 9, 121, 1) 40%, rgba(226, 0, 255, 1) 100%);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
}
.header__body {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}
.header__logo img {
    max-width: 100%;
    display: block;
}
.header__logo {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #f4f4f477;
    overflow: hidden;
    border-radius: 50%;
    margin: 4px;
}
.header__nav {
    text-transform: uppercase;
    padding-top: 15px;
}
.header__menu {
    color: #f2f2f2;
}
.menu {
    display: flex;
}
.menu__item:not(:last-child) {
    margin-right: 28px;
}
.menu__item {
    position: relative;
    padding: 5px 10px;
}
.open-menu:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transition-duration: 0.5s;
}
.sub-menu {
    background-color: #787878;
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    min-width: 240px;
    position: absolute;
    top: 130%;
    left: 0;
}
.sub-menu__item:not(:last-child) {
    margin-bottom: 12px;
}
.header__link:hover {
    color: #ffffff;
    text-shadow: 0 5px 10px #f4f4f477;
}
.header__link {
}
/* =========== */
/* MAIN */
/* -->SPECIAL */
[class*="main__"]:nth-child(even) {
    background-color: #f2f2f2;
}

[class*="main__"]:hover:not(.main__title) {
    background: linear-gradient(
        0deg,
        rgba(242, 242, 242, 1) 0%,
        rgba(73, 66, 111, 0.6699054621848739) 52%,
        rgba(242, 242, 242, 1) 100%
    );
    box-shadow: 0 0 12px 12px rgba(242, 242, 242, 0.8), inset 0 0 12px 12px rgba(242, 242, 242, 0.8);
}
[class*="main__"] {
    padding: 35px 0;
}

.main [class*="__body"] {
    position: relative;
}
.main__title {
    text-align: center;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 700;
}
.block-exemple:not(:last-child) {
    margin-bottom: 15px;
}
.block-exemple {
    text-align: center;
    font-weight: 700;
    padding: 50px;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #2f2f2f;
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #787878;
    border-radius: 5px;
}
.block-one {
    background: rgb(242, 242, 242);
    background: linear-gradient(135deg, rgba(242, 242, 242, 1) 0%, rgba(132, 0, 255, 1) 31%, rgba(47, 47, 47, 1) 100%);
}
.block-two {
    background: rgb(242, 242, 242);
    background: linear-gradient(135deg, rgba(242, 242, 242, 1) 0%, rgba(171, 0, 255, 1) 31%, rgba(47, 47, 47, 1) 100%);
}
.block-three {
    background: rgb(242, 242, 242);
    background: linear-gradient(135deg, rgba(242, 242, 242, 1) 0%, rgba(235, 0, 255, 1) 31%, rgba(47, 47, 47, 1) 100%);
}
/*--> ====================== */
/* ========== */
/* ITEM-CONTENT */
.main__item {
}
/* static */
.static {
}
.static__body {
}
.relative {
}
.relative__body > .block-two {
    position: relative;
    top: -45px;
    left: 45px;
}

/* absolute */
.absolute {
}
.absolute__body {
    position: relative;
}
.absolute__body > .block-two {
    position: absolute;
    top: 3px;
    left: -10px;
}
.absolute__body > .block-three {
    position: absolute;
    top: 3px;
    right: -10px;
}
/* sticky */
/* ? not working need practix */
.sticky {
}
.sticky__body > .block-one {
    position: sticky;
    top: 60px;
    left: 0;
}

/* z-index */
.z-index__container > .main__title {
    text-align: left;
}
.z-index__body {
    position: relative;
}

.z-index__body > .block-one {
    position: absolute;
    right: 28px;
    bottom: 14px;
    z-index: 2;
    width: 30%;
}
.z-index__body > .block-two {
    position: absolute;
    right: 14px;
    bottom: 28px;
    z-index: 3;
    width: 30%;
}
.z-index__body > .block-three {
    position: absolute;
    right: 46px;
    bottom: 14px;
    z-index: 1;
    width: 30%;
}
/* inherit */
.inherit {
}
.inherit__body {
    overflow: hidden;
}
.inherit__body > .block-one {
    position: inherit; /*in this place we inherit the position value of parent block (ther is "relstive")*/
    top: 0px;
    left: 200px;
}
.inherit__body > .block-two {
    position: inherit;
    top: 0px;
    left: 100px;
}
.inherit__body > .block-three {
    position: inherit;
    bottom: 0px;
    right: 100px;
}

/* car */
.car {
    width: 100%;
    height: 900px;
}
.car__container {
    max-height: 500px;
    /* overflow: hidden; */
}
.main__title {
}
.car__physical-body:hover {
    height: 430px;
    transition-duration: 3s;
}
.car__physical-body:hover img {
    opacity: 0.2;
    transition-duration: 6s;
}
.car__physical-body img {
    opacity: 1;
    transition-duration: 1s;
}
.car__physical-body {
    height: 0;

    background: url("../img/car/Screenshot_1.jpg") 0 0 / 1230px auto no-repeat;
    /* background: url('https://pibig.info/uploads/posts/2021-05/1620937749_27-pibig_info-p-doroga-v-sosnovom-lesu-priroda-krasivo-fot-31.jpg')0 -400px/ 1330px auto no-repeat; */
    transition-duration: 3s;
}
.car__body-top {
    position: relative;
}
.engine-compartment img {
    width: 160%;
}
.engine-compartment {
    position: absolute;
    top: 70px;
    left: 50px;
}
.hood img {
    width: 127%;
}
.hood:hover{
   
}
.hood {
    position: absolute;
    top: 91px;
    left: 31px;
    z-index: 2;
}
.roof img {
    width: 138%;
}
.roof {
    position: absolute;
    top: 35px;
    left: 373px;
}
.door--front img {
    width: 140%;
}
.door--front {
    position: absolute;
    top: 33px;
    left: 394px;
    z-ingex: 2;
}
.door--rear img {
    width: 141%;
}
.door--rear {
    position: absolute;
    top: 61px;
    left: 669px;
    z-index: 2;
}

.backtrunk-lid img {
    width: 141%;
}
.backtrunk-lid {
    position: absolute;
    top: 133px;
    left: 915px;
}

.backtrunk img {
    width: 138%;
}
.backtrunk {
    position: absolute;
    top: 122px;
    left: 845px;
    z-index: 1;
}

.frame img {
    width: 140%;
}
.frame {
    position: absolute;
    top: 205px;
    left: 350px;
    z-index: 0;
}

.car__suspension {
    position: relative;
}
.car__wheel--front img {
    width: 100%;
}
.car__wheel--front {
    border-radius: 50%;
    position: absolute;
    top: 223px;
    left: 170px;
    z-index: 3;
}
.car__wheel--rear {
    border-radius: 50%;
    position: absolute;
    top: 223px;
    left: 875px;
    z-index: 3;
}

/* ========== */
/* FOOTER */
.footer {
    background-color: #2f2f2f;
}
.footer__container {
    padding: 50px 0;
}
.copy {
    text-align: center;
    color: #f4f4f4;
}
/* ========== */
@media (max-width: 676px) {
    .header__nav {
        display: none;
    }
    .header__body {
        justify-content: center;
    }
    .relative__body {
        overflow: hidden;
    }
}
