/* IMPORT */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"); */
@import "reset.css";
@import "fonts.css";

@import "iconsfont.css";
/* SPECIAL */
body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
[class*="__container"] {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}
/* HEADER */
.header {
}
.header__container {
}

/* MAIN */
.main {
}
.main__container {
}
.about {
}
.about__body {
    margin-bottom: 114px;
}
.about__title {
    font-size: 46px;
    line-height: 1.3;
    font-weight: 900;
    color: #1e212c;
    margin-bottom: 40px;
}
.about__text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #424551;
    margin-bottom: 48px;
}
.about__subtitle {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
    color: #1e212c;
    margin-bottom: 24px;
}

/* ! Спостереження : В макеті є відступ вниз  у елементів списку 4рх, але він міг з'явитися від псевдоелементу :before(а саме його висоти),  який якимось чиним по висоті "росте" знизу вверх (можливо через те що псевдоелемент є частиною контенту і розміщується (по-вертикалі) на тій же лінії, що і елемент, до якого попередній і був застосований ) */
/* ? Як тут вчинити , щоб не кудлатити бабусю */
.about__list {
    padding-left: 32px;
}

.list__item::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 24px; /*? <-- тут Кудлатимо !!!! =) */
    background: url("../img/about/list-icons/check.jpg") 0 8px / auto no-repeat; /*? <-- тут Кудлатимо  в позиції!!!! =) */
}

/* OR */
.list__item::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 16px;
    background: url("../img/about/list-icons/check.jpg") 0 0 / auto no-repeat;
    margin-bottom: -2px; /*? <-- тут Кудлатимо !!!! =) */
    margin-left: -32px; /*? <-- тут Кудлатимо !!!! =) */
}
/* AND */
/* TODO забрати останній марджин дослівно  не дати останньому елементу марджин*/
.list__item:not(.list__item:last-child) {
    margin-bottom: 4px;
}

.list__item {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #424551;
    /* padding-left: 32px;- щоб запам'ятати розміри з фігми */
}

/* COURSE CURATOR */

.course-curator {
}
.course-curator__body {
    padding-bottom: 72px;
}
.course-curator__title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
    margin-bottom: 8px;
}
.course-curator__name {
    font-size: 46px;
    line-height: 1.3;
    font-weight: 900;
    color: #1e212c;
    margin-bottom: 18px;
}
.course-curator__achievements {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #787a80;
    margin-bottom: 32px;
}
.course-curator__experience {
    padding-left: 32px;
    margin-bottom: 32px;
}
/* TODO забрати останній марджин дослівно  не дати останньому елементу марджин*/
.expirience__item:not(.expirience__item:last-child) {
    margin-bottom: 4px;
}

.star-icon::before,
.video-icon::before,
.people-icon::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 16px;
    margin-left: -32px;
    margin-bottom: -2px; /*? <-- тут Кудлатимо !!!! =) */
}

.star-icon::before {
    background: url("../img/course-curator/experience-icons/Star.jpg") 0 0 / auto no-repeat;
}

.video-icon::before {
    background: url("../img/course-curator/experience-icons/Video.jpg") 0 0 / auto no-repeat;
}

.people-icon::before {
    background: url("../img/course-curator/experience-icons/Person.jpg") 0 0 / auto no-repeat;
}

.expirience__item {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    color: #424551;
    /* padding-left: 24px; */
    /* margin-bottom: 4px; */
}

.course-curator__text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #424551;
    margin-bottom: 40px;
}
.course-curator__contacts-icons {
    width: 168px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-curator__link {
    display: inline-block;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #787a80;
}

/* ICON FONT USE */
/* той випадок , коли вперше зробив іконочний шрифт , а витягати об'єкти (по-людськи) з FIGMA , ще не вмію )), або ліньки перероблти*/
.__icon-fb {
    font-size: 22px; /*? <-- тут Кудлатимо !!!! =) */
}
.__icon-be {
    font-size: 16px; /*? <-- тут Кудлатимо !!!! =) */
}
.__icon-tw {
    font-size: 16.33px; /*? <-- тут Кудлатимо !!!! =) */
}
.__icon-in {
    font-size: 20px; /*? <-- тут Кудлатимо !!!! =) */
}

[class*="__icon-"] {
    height: 100%;
    display: flex;
    align-items: center; /*? <-- тут Кудлатимо !!!! =) */
    justify-content: center;
}

.__icon-fb:hover,
.__icon-be:hover,
.__icon-tw:hover,
.__icon-in:hover {
    color: #ff3f3a;
}

/* GAME  */
.game-hover {
}
.game-hover__body {
}
.game-hover__start {
}
.game-hover__exercise-one {
}
.game-hover__exercise-two {
}
.game-hover__exercise-three {
}
/* GAME-OVER */
.game-hover__finish {
}

/* FOOTER */
.footer {
}
.footer__container {
}
