/* Import */
@import "nullstyle.css";

@import url("https://fonts.googleapis.com/css2? family= Ubuntu:wght@400;700 & display=swap");
/* STYLE */
/* SPECIAL */
body {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
}
.wrraper {
    /* width: 100%; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
[class*="__container"] {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}
h1 {
    font-size: 45px;
    text-align: center;
}

/* HEADER */

.header {
    position: fixed;
    width: 100%;
    /* width: 340px; */
    background-color: #778833;
    color: #f3f3f3;
    overflow: hidden;
    padding: 10px;
}
.header__container {
}
.haeder__nav {
}
.header__general-menu li {
    padding-top: 10px;
}
.general-menu > li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 4px;
    position: relative;
    top: -5px;
    left: -5px;
    background-color: #f3f3f3;
}
.header__menu {
    display: none;
}
.general-menu__item:hover .header__menu {
    display: block;
}
.menu__item::before {
    content: "*";
    display: inline-block;
    position: relative;
    top: 3px;
    left: -15px;
}
.menu {
    padding-left: 30px;
}
.menu__item {
}
.header__link:hover {
    color: #55ff77;
}
.header__link {
}
.menu__item:hover .sub-menu {
    display: block;
}
.sub-menu li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #f3f3f3;
    border-radius: 50%;
    position: relative;
    top: -3px;
    left: -15px;
}
.sub-menu {
    display: none;
    /* visibility: hidden; */
    opacity: 1;
    padding-left: 30px;
}
.sub-menu__item {
}
/* MAIN */
.main {
    padding-top: 70px;
    flex: 1 0 auto;
}
.main__container {
}
.main__title {
}
.main__block-title {
    padding-top: 100px;
    text-align: center;
}
.main__block-flex-body {
    /* min-height: 200px; */
    background-color: #778833;
    /* display: flex; */
    /* flex-direction: row; */
    font-size: 56px;
    font-weight: bold;
    /* justify-content: space-around; */
}
.block-flex-body {
    /* padding: 10px; */
}
.block-flex-body__item {
    background-color: #f3f3f3;
    border: 12px solid brown;
    padding: 5px;
    border-radius: 34px;
    text-align: center;
}
/* =================================== */
.main__display-flex .main__block-flex-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.main__display-inline-flex > .main__block-flex-body {
    display: inline-flex;
}
.flw__w .main__block-flex-body {
    display: flex;
    flex-wrap: wrap;
}
.flw {
}
.flw__w {
}
.flw__n .main__block-flex-body {
    display: flex;
    flex-wrap: nowrap;
}
.flw__wr .main__block-flex-body {
    display: flex;
    flex-wrap: wrap-reverse;
}
/* ! Justify-content  */
.main__justyf-content {
}
.jc .main__block-flex-body {
    display: flex;
}
.jc__s .main__block-flex-body {
    justify-content: start;
}
.jc__e .main__block-flex-body {
    justify-content: end;
}
.jc__c .main__block-flex-body {
    justify-content: center;
}
.jc__sb .main__block-flex-body {
    justify-content: space-between;
}
.jc__saro .main__block-flex-body {
    justify-content: space-around;
}
.jc__sev .main__block-flex-body {
    justify-content: space-evenly;
}

/* ==================== */
/* ! Align-items */
.main__align-items {
}
.ai .main__block-flex-body {
    display: flex;
    flex-direction: row;
    height: 380px;
}
.ai__sh .main__block-flex-body {
    align-items: stretch;
}
.ai__s .main__block-flex-body {
    align-items: flex-start;
}
.ai__e .main__block-flex-body {
    align-items: flex-end;
}
.ai__c .main__block-flex-body {
    align-items: center;
}
.ai__b .main__block-flex-body .block-flex-body__item:nth-child(3) {
    font-size: 43px;
}
.ai__b .main__block-flex-body {
    align-items: baseline;
}
/* ============================ */
/* ! Flex-direction */
.main__flex-direction {
}
.fx .main__block-flex-body {
    display: flex;
}
.fx__dr .main__block-flex-body {
    flex-direction: row;
}
.fx__rr .main__block-flex-body {
    flex-direction: row-reverse;
}
.fx__dc .main__block-flex-body {
    flex-direction: column;
}
.fx__dcr .main__block-flex-body {
    flex-direction: column-reverse;
}
/* ! To Flex-elements */
.main__flex-elements {
}
.fx-elements {
}
.fx-elements__align-self .main__block-flex-body {
    display: flex;
    height: 380px;
}
.align-self {
}
.align-self__items {
}
.align-self__asfs .main__block-flex-body .block-flex-body__item {
    align-self: flex-start;
}
.align-self__asfe .main__block-flex-body .block-flex-body__item {
    align-self: flex-end;
}
.align-self__asb .main__block-flex-body .block-flex-body__item {
    align-self: baseline;
}
.align-self__asc .main__block-flex-body .block-flex-body__item {
    align-self: center;
}
/* !flex basis */
[class*="fx-elements__"] .main__block-flex-body {
    display: flex;
}
.fx-elements__fxb .main__block-flex-body .block-flex-body__item {
    flex-basis: 300px;
}
.fx-elements__fxg .main__block-flex-body .block-flex-body__item:nth-child(3) {
    flex-grow: 1;
}
.fx-elements__fxs .main__block-flex-body .block-flex-body__item {
    flex-basis: 120px;
    flex-shrink: 1;
}
.fx-elements__ord .main__block-flex-body .block-flex-body__item:nth-child(1) {
    order: 3;
}
.fx-elements__ord .main__block-flex-body .block-flex-body__item:nth-child(2) {
    order: 1;
}
.fx-elements__ord .main__block-flex-body .block-flex-body__item:nth-child(3) {
    order: 4;
}
.fx-elements__ord .main__block-flex-body .block-flex-body__item:nth-child(4) {
    order: 2;
}
/* FOOTER */
.footer {
}
.footer__container {
}
.footer__copy {
    text-align: center;
}
